html { 
    /* background-image: url(https://www.itl.cat/pngfile/big/299-2992292_electric-wallpapers-pc-electricity-background-picture-cool.jpg); */
    /* background-position: -10px; */
    background-image: url("pictures/background.png");
}


.welcome {
    background-color: transparent;
    color: white;
    margin: 20px 60px;
    text-align: center;
    
}


/* h3 {
    color:rgb(54, 51, 233);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:large;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* .welcomeHeader {
    font-size: 20px;
    margin: 0px 200px;
   background-color: black;
   padding: 5px;
   font-size: 24px;
} */

#header{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 60px;

}

#mapInputBox {
    width: 500px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 25px;
    background-color: rgb(207, 10, 165, 0.1);
    padding: 10px;   
}

#stationCardsCard {
    background-color: transparent;
    height: auto;
    margin-right: 50px;
    position: relative;
}

.warning {
    margin-top: 10px;
    border: solid 1px black;
}

#addressInput {
    width: 430px;
}

#postalZipInput, #countryInput {
    width: 175px;
}

#cityInput, #stateInput {
    width: 250px;
}

.select {
    margin-top: 10px;
    margin-left: 255px;
    bottom: 50px;
}

#userSubmit {
}

#info {
    font-size: 16px;
    background-color: transparent;
}

.modal-card {
    font-size: 25px;
    margin-top: 50px;
}

.modal-background {
    height: 25%;
}

#mapBox {
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: -100px;
 

}

#map {
    margin: auto;
    border: solid 5px black;
}

#station {
    width: 500px;
    height: 250px;
    margin: 7px;
    font-size: small;
    border: solid 5px rgb(54, 51, 233);
    padding-left: 2%;
    opacity: 50;
}

.directBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(54, 51, 233);
}

#newSearch {
    margin-top: 10px; 
    float: right;
}

@media screen and (max-width: 768px) {

    #mapInputBox {
        width: 250px;
        margin-top: 25px;
        margin-right: 50px;
        margin-left: 25px;
        background-color: rgb(34, 79, 118);
        padding: 10px;
        
    }

   .is-warning {
       width: 150px;
       margin-top: 10px;
   }
   
   #addressInput {
      width: 250px;
   }
   
   #postalZipInput, #countryInput {
       width: 75px;
   }
   
   #userSubmit {
       margin-top: 10px;
   }

   #station {
   width: 250px;
   height: 90px;
   margin: 2px;
   font-size:small;
   }

   .directBtn {
       position: absolute;
       width: 120px;
       bottom: 0;
       right: 0;
   }
   #cardDisplay {
       opacity: 100%;
       margin-top: 5px;
       background-color: transparent;
   }

}