#header{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 60px;
}

body, html {
    background-color: rgb(34, 79, 118);
}

#headerBox{
    background-color: black;
    width: 1000px;
    height: 100px;
    margin-top: -10px;
    margin-left: 100px;
    margin-right: 50px;
}

.is-warning {
    width: 500px;
    margin-top: 5px;
    display: block;
}

.button {
    margin-top: 2px;
    height: 35px
}

.box {
    height: 200px;
    width: 500px;
    margin-left: 15px;
    margin-top: 15px;
}

.label {
    margin-top: -20px;
    margin-left: -20px;
    color: black;
}

/* #stationField {
    margin-left: 50px;
    height: auto;  
} */

