

html {
    background-color: rgb(34, 79, 118);
}

#headerBox{
    background-color: black;
    width: 1000px;
    height: 100px;
    margin-top: -10px;
    margin-left: 100px;
    margin-right: 50px;
}

#header{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 60px;
}

#mapInputBox {
    width: 500px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 25px;
    background-color: rgb(34, 79, 118);
    padding: 10px;
    
}

#userSubmit {
    margin-top: 10px;
    margin-left: 20px;
}

#stationField{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 25px;
    background-color: white;
    padding: 10px;

}

.is-warning {
    width: 300px;
    margin-top: 10px;
}

#addressInput {
    width: 450px;
}

#postalZipInput, #countryInput {
    width: 150px;
}



.button {
    margin-top: 2px;
    height: 35px
}


.modal-card {
    font-size: 40px;
    margin-top: 50px;
}

.modal-background {
    height: 25%;
}

#mapBox {
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: -100px;
}

#map {
    margin: auto;
}

#station {
    float: left;
    width: 180px;
    height: 250px;
    position: relative;
    margin: 2px;
    font-size:small
}

.directBtn {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
